.cards-grid-container {
  position: relative;
  margin-bottom: 3%;
}

/* grid of 18 cards: */

.cards-grid-18 {
  margin: 3%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  place-items: center;
}

@media only screen and (max-width: 480px) {
  .cards-grid-18 {
    /* this 10% margin allows to see all 18 cards without scrolling  */
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1em;
  }
}

@media only screen and (min-width: 481px) and (max-width: 738px) {
  .cards-grid-18 {
    margin: 5% 20% 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1em;
  }
}

/* grid of 12 cards: */

.cards-grid-12 {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  place-items: center;
}

@media only screen and (max-width: 541px) {
  .cards-grid-12 {
    margin-left: 2%;
    margin-right: 2%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 542px) and (max-width: 640px) {
  .cards-grid-12 {
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 641px) and (max-width: 913px) {
  .cards-grid-12 {
    margin-left: 8%;
    margin-right: 8%;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 914px) and (max-width: 1190px) {
  .cards-grid-12 {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 13%;
    margin-right: 13%;
  }
}

@media only screen and (min-width: 914px) and (max-width: 1190px) {
  .cards-grid-12 {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 13%;
    margin-right: 13%;
  }
}

/* grid of 24 cards: */

.cards-grid-24 {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  place-items: center;
}

@media only screen and (max-width: 480px) {
  .cards-grid-24 {
    margin: 6% 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
  .cards-grid-24 {
    margin: 3% 6%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
