footer {
  bottom: 0;
  background-color: #ffd90ff2;
  width: 100%;
}

footer p {
  font-size: 0.8rem;
  padding: 0.3rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

footer a {
  font-size: 0.8rem;
}
